{{ define "main" }}
	<main class="main">
		{{ partial "breadcrumb.html" . }}
		<div class="single block">
			<article class="entry">
				{{- partial "entry/featured.html" (dict "page" . "IsSingle" true) }}
				{{- partial "entry/meta.html" (dict "page" . "class" "mb") }}
				<h1 class="entry__title">{{ .Title }}</h1>
				{{- partial "entry/toc.html" . }}
				<div class="entry__content">{{ .Content }}</div>
				{{ if or (.Param "share") (isset $.Params "tags") }}
				<footer class="entry__footer">
					{{ partial "entry/tags.html" . }}
					{{ partial "entry/share.html" . }}
				</footer>
				{{ end }}
			</article>
		</div>
	</main>
	{{ partial "authorbox.html" . }}
	{{ partial "related.html" . }}
	{{ partial "comments.html" . }}
	<!-- <div style="display: flex; justify-content: space-between;">
		<div class="next-post" style="width: 50%;">
			{{ if .NextPage }}
			<a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">« {{ .NextPage.Title | truncate 50 "..." }}</a>
			{{ end }}
		</div>
		
		<div class="previous-post">
			{{ if .PrevPage }}
			<a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
			{{ end }}
		</div>
	</div> -->
{{ end }}